body {
    margin: 0;
    background-color: rgb(25, 25, 25);
    height: 100vh;
    font-family: 'DynaPuff', cursive;
    font-size: 4rem;
    color: white;
}

header {
    width: 100%;
    height: 15%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, rgb(133, 54, 206), rgb(225, 43, 241));
}

.pick-color-area {
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    padding: 3rem 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1rem;
}

.color-block {
    width: 14vw;
    height: 14vw;
    min-width: 170px;
    min-height: 170px;
    border: 1px white solid;
    border-radius: 10%;
}


/* RESPONSIVE CHANGES */

@media screen and (max-width: 653px) {
    .pick-color-area {
        padding: 3rem 5%;
    }
}

@media screen and (max-width: 550px) {
    header {
        font-size: 3rem;
    }
}

@media screen and (max-width: 435px) {
    .pick-color-area {
        padding: 3rem 1.5rem;
    }

    .color-block {
        min-width: 140px;
        min-height: 140px;
    }
}

@media screen and (max-width: 379px) {
    .color-block {
        min-width: 120px;
        min-height: 120px;
    }

    header {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 339px) {
    .color-block {
        min-width: 100px;
        min-height: 100px;
    }

    header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 299px) {
    .color-block {
        min-width: 80px;
        min-height: 80px;
    }
}

@media screen and (max-width: 259px) {
    .color-block {
        min-width: 70px;
        min-height: 70px;
    }

    header {
        font-size: 1.5rem;
    }
}